html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: 0;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background: #dadde1;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #050505;
    direction: rtl;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.pt {
    padding-top: 13px
}

.pb {
    padding-bottom: 13px
}

.main {
    max-width: 700px;
    background: #fff;
    margin: 0 auto;
    padding: 0 15px
}

.global_bg img {
    width: 100%
}

.global_bg {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    line-height: 0
}

#header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: #3b5998;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin-bottom: -7px
}

.header-nav {
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.btn-nav {
    background: #ebedf0;
    padding: 10px;
    margin: 0 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 6px
}

.btn-nav:nth-child(1) {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #3578e5;
    margin-left: 0
}

.btn-nav:nth-child(3) {
    margin-right: 0
}

.btn-nav:nth-child(1) img {
    max-width: 18px;
    margin-right: 5px
}

.btn-nav:nth-child(2) img {
    max-width: 18px
}

.btn-nav:nth-child(3) img {
    max-width: 18px
}

.btn-nav:nth-child(2),
.btn-nav:nth-child(3) {
    -ms-flex-preferred-size: 16.67%;
    flex-basis: 16.67%
}

.contact {
    color: white;
    font-size: 14px
}

.header-status {
    color: #90949c
}

#back-icon img {
    width: 100%
}

#back-icon {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 17px
}

#title {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

#cover img {
    width: 100%
}

.person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.person-inner-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.ava {
    border-radius: 100%;
    overflow: hidden;
    background: url("ava.png") #dadde1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 10px
}

.ava.big {
    width: 64px;
    height: 64px;
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px
}

.ava.small {
    width: 40px;
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    margin-right: 7px
}

.info {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.info-small {
    position: relative;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.info:before {
    content: "";
    background: url("33ba6f73a4ea448ee53f5d6d5bb70533fbe695af.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    right: -13px
}

.page_type,
.like {
    color: #90949c;
    font-size: 12px;
    margin-top: 4px
}

.person-inner-right {
    margin: 0 16px
}

.person-inner-right img {
    max-width: 23px;
    margin: 0 auto;
    display: block
}

hr {
    border: 0;
    color: #dadde1;
    background-color: #dadde1;
    height: 2px;
    margin: 0
}

.point {
    color: #90949c;
    font-size: 13px;
    line-height: 16px;
    position: relative;
    top: -3px
}

.globe:after {
    content: "";
    background: url("3877907a56d8f268e2af73fe1de943263784e768.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: -13px
}

#state_close {
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
    color: gray;
    margin: 23px -15px
}

#state_close_prev {
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px;
    color: gray;
    margin: -24px -15px 18px -15px
}

#state_close_prev img {
    width: 21px
}

#state_close_prev img:nth-child(2) {
    position: relative;
    left: -9px
}

#popup {
    position: fixed;
    bottom: -100px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 700px;
    background: white;
    padding: 13px 15px;
    z-index: 10000000000;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

#popup.active {
    bottom: -33px !important
}

#popup .header-nav {
    padding: 0
}

@media screen and (max-width:320px) {
    .info:before {
        display: none
    }
}

@media screen and (max-width:340px) {
    .like-hidden {
        display: none
    }
}

#comments_component {
    margin: 0 0 0 -7px;
    font-family: sans-serif;
    padding-bottom: 15px;
    display: none
}

#comments_component .item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 0 20px 0
}

#comments_component .component_ava {
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 10px 0 0
}

#comments_component .component_info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0 0 5px 0
}

#comments_component .component_info_inner {
    background-color: #ebedf0;
    border-radius: 18px;
    display: inline-block;
    line-height: 16px;
    margin-top: 0;
    min-width: 0;
    overflow: hidden;
    padding: 6px 12px 7px 12px
}

#comments_component .component_name {
    color: #000;
    font-weight: 600;
    font-size: 12px;
    margin: 0 0 3px 3px;
    text-decoration: none
}

#comments_component .component_licked {
    position: relative;
    bottom: 3px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.component_body {
    width: 100%
}

.component_voir {
    color: #000;
    font-weight: 600;
    font-size: 12px;
    margin: 7px 0 0 12px
}

.component_reposy {
    color: #929292;
    font-weight: 600;
    font-size: 12px;
    margin: 6px 0 0 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.component_reposy b {
    font-weight: 100;
    word-spacing: 0 !important;
    color: #757575
}

.component_img {
    width: 100%;
    border-radius: 18px;
    overflow: hidden;
    margin: 7px 0 6px 0;
    height: auto
}

.component_img img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-transition: all 3s ease-in;
    transition: all 3s ease-in
}

.component_licked {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 3px 0 #dadde1;
    box-shadow: 1px 1px 3px 0 #dadde1;
    color: #909192;
    font-size: 11px;
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    margin-left: -10px;
    padding-right: 4px;
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    z-index: 5
}

#comments_component a {
    font-weight: 600;
    text-decoration: none;
    color: #232323
}

.icons {
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0
}

.icons .fb_licked {
    background-image: url("d5452d4fb9e10cbc78fcadf492504a3085fffc89.png");
    background-size: 103px 328px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    border: 2px solid #fff
}

.l {
    background-position: -51px -266px;
    z-index: 4
}

.u {
    background-position: 0 -283px;
    margin-left: -6px;
    z-index: 3
}

.s {
    background-position: -68px -266px;
    margin-left: -6px
}

.component_name,
.component_reposy {
    cursor: pointer
}

.component_name:hover,
.component_text a:hover,
.component_reposy nav:hover {
    text-decoration: underline !important
}

.component_reposy nav {
    display: inline;
    margin: 0 0 0 16px;
    font-weight: 600
}

.user_request .component_ava {
    margin-left: 46px !important
}

#comments_component .user_request .component_ava {
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 10px 0 0
}

.component_reposy_small {
    word-spacing: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    line-height: 27px;
    cursor: pointer
}

.component_reposy_small > .name {
    font-weight: 600;
    margin-right: 9px
}

.component_reposy_small > .repond {
    font-weight: 100;
    margin-right: 5px
}

.component_reposy_small b.count {
    font-weight: 100;
    color: #b9b9b9
}

#comments_component p {
    margin: 0
}

#comments_component .component_name,
#comments_component .component_text,
#comments_component .component_reposy,
.component_licked span {
    font-style: normal
}

.icons .fb_licked {
    height: 21px;
    width: 20px
}

.oneq {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}

.oneq * {
    pointer-events: none
}

.oneq .component_text,
.oneq .component_licked,
.oneq .component_reposy {
    display: none !important
}

.oneq .component_info_inner {
    background-color: transparent !important
}

.oneq .component_info_inner {
    padding: 6px 12px 7px 0 !important;
    margin-left: -7px;
    position: relative;
    top: -1px
}

.oneq .component_name p {
    display: inline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.oneq .component_name b {
    padding: 0 2px
}

.oneq .component_name span {
    padding: 0 1px
}

.oneq .component_name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.item.user_request.oneq {
    max-width: 60%
}

.oneq .component_name span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    word-wrap: break-word
}

#form-wrap {
    max-width: 400px;
    margin: 0 auto
}

#product-bg-wrap {
    margin: -10px 0 -130px 0;
    width: 100%
}

#product-bg {
    position: relative;
    width: 80%;
    margin: 0 auto
}

#product-bg:before {
    content: "";
    position: absolute;
    background: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 147px;
    height: 102px;
    left: 80%;
    top: 34%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

#product-bg img {
    width: 100%
}

  
#form form #protection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 13px;
    font-size: 12px
}

#form form #protection .protection-icon {
    background: url("");
    min-width: 19px;
    min-height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
    -ms-flex-item-align: end;
    align-self: end
}

#form form #protection strong {
    color: #ff000066
}

#product-bg {
    width: 50%;
}

#product-bg-wrap {
    margin: 1px 0 -130px 8px;
}
